// LOGO http://www.flaticon.com/free-icon/bus-hand-drawn-transport_58393
$positive: #267ab8;
$line_1: #EE3030;
$line_2: #00B2EF;
$line_3: #F69130;
$line_5: #808A9D;
$line_11: #82C557;
$line_12: #B0773D;
$line_13: #B45A87;
$line_14: #F7A4A8;
$line_15: #15A057;
$line_16: #351C07;
$line_17: #FCF12C;
$nuit: #263850;

$lines: '01' #EE3030,
  '02' #00B2EF,
  '03' #F69130,
  '05' #808A9D,
  11 #82C557,
  12 #B0773D,
  13 #B45A87,
  14 #F7A4A8,
  15 #15A057,
  16 #351C07,
  17 #FCF12C,
  Chamonuit #263850;


a {
  color: $positive;
  text-decoration: none;
  &:hover {
    color: #000;
    text-decoration: underline;
  }
}
h2 {
  color: #fff;
  text-shadow: 1px 1px 0 #222, 0 0 5px #777;
  margin: 0 0 20px;
  padding: 20px 0 0;
  text-align: center;
}
h3 { margin: 0 0 10px }
img { max-width: 100%; height: auto; }


.icon-positive:before {
  color: #267ab8;
}


.scroll {
  background: #fff url(../img/bg-42.jpg) center;
  background-size: cover;
  padding-top: 1px;
  padding-bottom: 1px;
  min-height: 100%;
}

.half-pad {
  padding: 0.5rem;
}

#journey .item {
  text-align: center;
  .area {
    text-transform: uppercase;
  }
}
.card {
  background: none;
  button.area {
    margin: 0px;
    text-align: left;
  }
}
.card.area {
  margin: 10px 0px 10px 0px;

  .icon.really_big {
    font-size: 1.8rem;
  }
  .icon.big {
    font-size: 1.4rem;
  }
  .info {
    padding: 0px;
    min-width: 46px;
    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    max-height: 0px;
  }

  .info.open {
    max-height: 250px;
  }

  .half-pad {
    padding: 0.5rem;
  }
}

.list .item,
.area .item {
  background: rgba(255,255,255,.8);
}

.item p {
  color: inherit;
  font-size: inherit;
}


.center { text-align: center; }

.flag {

  img {
    width: 24px;
    height: 16px;
    vertical-align: middle;
  }
}


.stop { position: relative; padding-left: 50px; }

.line { width: 5px; top: 0; bottom: 0; position: absolute; }
.line-1 { background: #EE3030; left: 5px; }
.line-2 { background: #00B2EF; left: 12px; }
.line-11 { background: #82C557; left: 19px; }
.line-12 { background: #B0773D; left: 26px; }

.line-box { margin: 0 -1px 2px; padding: 7px; }
@each $line in $lines {
  .line-box-#{nth($line, 1)} { border-color: #{nth($line, 2)}}
}

.line-badge { font-weight: bold; position: absolute; top: 0; right: 0;
  padding: 1px 3px 2px 5px; border-radius: 0 0 0 4px; color: #fff; }
@each $line in $lines {
  .line-box-#{nth($line, 1)} .line-badge {
    background: #{nth($line, 2)};
    text-shadow: 1px 1px 0 darken(nth($line, 2), 20%), 0 0 2px darken(nth($line, 2), 10%);
  }
}


.desc { margin: 0 0 20px; border: 1px solid #43cee6; padding: 5px; font-size: 12px; overflow: hidden }
.desc button { float: right }


.menu-footer {
  // height: auto;
  // text-align: center;
  // display: block;
  line-height: 34px;
  a {
    color: #444;
    text-decoration: none;
  }

  img {
    width: auto;
    height: 12px;
    margin: 0 0 0 10px;
  }
}
.menu-flags {
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 5px;
}

.item-icon-right .icon {
  font-size: inherit;
  color: #aaa;
}
