

img { max-width: 100%; height: auto; }

.flag {
  font-size: 30px;
  margin: 0 0 10px;
  color: #444;

  img {
    height: 50px;
    width: 80px;
    vertical-align: middle;
  }
}


.stop { position: relative; padding-left: 50px; }

.line { width: 5px; top: 0; bottom: 0; position: absolute; }
.line-1 { background: #EE3030; left: 5px; }
.line-2 { background: #00B2EF; left: 12px; }
.line-11 { background: #82C557; left: 19px; }
.line-12 { background: #B0773D; left: 26px; }

.line-badge { color: #fff; padding: 1px 7px 3px; border-radius: 100%;}

.desc { margin: 0 0 20px; border: 1px solid #43cee6; padding: 5px; font-size: 12px; overflow: hidden }
.desc button { float: right }
