<ion-view view-title="{{ 'ABOUT' | translate }}">
  <ion-content class="content has-header">

    <div class="card">
      <div class="item item-divider">ChamRide</div>
      <div class="item item-body">
        This is an app to help you find the next bus.
        <p>
          The app was created during a ChamGeeks hackaton.
        </p>
      </div>
    </div>

    <div class="card">
      <div class="item item-divider">ChamGeeks</div>
      <div class="item item-body">
        ChamGeeks is a organisation created for geeks in Chamonix to come together and talk, create
        and help each other. We usualy meet up one night each month during the first week and
        sometimes throw a hackaton.
      </div>
    </div>

    <div class="card">
      <div class="item item-body">
        <small>
          <strong>Created by:</strong>
          <a href="http://spathon.com">Spathon</a>,
          Jacques,
          Neill,
          Eystain,
          Petter,
          Hibri,
          Shankar
        </small>
        <p>
          <small>Database version: {{ db.version }}</small>
        </p>
      </div>
    </div>

  </ion-content>
</ion-view>
