<ion-view view-title="{{ 'ABOUT' | translate }}">
  <ion-content class="content has-header">

    <div class="card">
      <div class="item item-divider">{{ 'APP_NAME' | translate }}</div>
      <div ng-bind-html="'ABOUT_TEXT' | translate" class="item item-body"></div>
    </div>

    <div class="card">
      <div class="item item-divider">ChamGeeks</div>
      <div class="item item-body">
        {{ 'ABOUT_CHAMGEEKS' | translate }}
        <p>
          <a href="#" onclick="window.open('http://chamgeeks.com', '_system'); return false;">ChamGeeks.com</a>
        </p>
      </div>
    </div>

    <div class="card">
      <div class="item item-divider">
        {{ 'CREDITS' | translate }}
      </div>
      <div class="item item-body">
        <small>
          <strong>
            <a href="#" onclick="window.open('http://spathon.com', '_system'); return false;">Spathon</a>,
            Jacques,
            Neill,
          </strong>
          <br>
          Eystain,
          Petter,
          Hibri,
          Shankar
        </small>
        </div>
        <div class="item">
          <small>Database version: {{ db.version }}</small>
        </p>
      </div>
    </div>

  </ion-content>
</ion-view>
