<ion-view view-title="{{ 'ABOUT' | translate }}">
  <ion-content>

    <h2>ChamTransit</h1>

    <div class="card">
      <div class="item item-body">
        This is an app to help you find the next bus
      </div>
    </div>

    <h2>ChamGeeks</h3>
    <div class="card">
      <div class="item item-body">
        The app was created during a ChamGeeks hackaton.
      </div>
    </div>

    <h2>Created by</h3>
    <div class="card">
      <div class="item item-body">
        Spathon,
        Jacques,
        Neill,
        Eystain,
        Petter,
        Hibri,
        Shankar
      </div>
    </div>

  </ion-content>
</ion-view>
