<ion-view title="{{ homeTitle }}">
  <ion-content>

    <h2>
      Bonjour / Welcome
    </h2>

    <div class="card">
      <div class="flag item" ng-click="selectStartLang('fr', 'area')">
        <img src="img/fr.svg" alt="">
        Français
      </div>
    </div>
    <div class="card">
      <div class="flag item" ng-click="selectStartLang('en', 'area')">
        <img src="img/gb.svg" alt="">
        English
      </div>
    </div>
    <div class="card">
      <div class="flag item" ng-click="selectStartLang('sv', 'area')">
        <img src="img/se.svg" alt="">
        Svenska
      </div>
    </div>


  </ion-content>
</ion-view>
