<ion-view view-title="{{ 'SELECT_AREA' | translate }}">
  <ion-content>

    <div ng-include src=" 'partials/journey-info.html' "></div>



      <!-- My location -->
      <div class="card area" ng-show="!main.isPlanning()">
        <div class="row item">
          <button class="button button-clear button-positive icon" ng-class="locationClass()"
                  ng-click="getPositionInfo()">
          </button>
          <button class="button button-block button-stable area item-icon-right"
                  ng-disabled="!positionFound" ng-click="useMyLocation()">
            <i class="icon big ion-arrow-right-c"></i>
            {{ 'My position' | translate }}
          </button>
        </div>
      </div>



    <div class="areas">
      <div class="card area" ng-repeat="area in areas | areasOrder">
        <div class="row item">
          <button class="button button-clear button-positive info" ng-click="toggleInfo(area)">
            <i class="icon really_big ion-information-circled"></i>
          </button>
          <button class="button button-block button-stable area item-icon-right" ng-click="selectArea(area.id)">
            <i class="icon big ion-arrow-right-c"></i>
            {{ area.name }}
          </button>
        </div>
        <div class="info" ng-class="area.showInfo ? '' : 'closed'">
          <div class="item item-text-wrap half-pad meta-lifts" ng-show="area.meta && area.meta.lifts">
            <i class="ion-ios7-snowy"></i>
            <small>{{ area.meta.lifts.join(', ') }}</small>
          </div>
          <div class="item item-text-wrap half-pad meta-interests" ng-show="area.meta && area.meta.areasOfInterest">
            <i class="ion-flag"></i>
            <small>{{ area.meta.areasOfInterest.join(', ') }}</small>
          </div>
        </div>
      </div>



    </div>
  </ion-content>
</ion-view>
