<ion-view title="{{ 'SELECT_AREA' | translate }}">
  <ion-content>

    <div ng-include src=" 'partials/journey-info.html' "></div>

    <h2 class="center">
      <span ng-hide="isPlanning()">{{ 'FROM' | translate }}</span>
      <span ng-show="isPlanning()">{{ 'TO' | translate }}</span>
    </h2>

    <!-- <h3 ng-show="closeStops" translate>{{ 'STOPS_NEAR' | translate }}</h3>
    <ul class="stops list" ng-show="closeStops">
      <li class="stop item" ng-repeat="aStop in closeStops" ng-click="selectStop(aStop.id)">
        {{ aStop.name }}
      </li>
    </ul> -->

    <div class="areas">
      <div class="card area" ng-repeat="area in areas" ng-click="selectArea(area.id)">

        <div class="item item-text-wrap">
          {{ area.name }} 
          <i ng-show="area.meta && area.meta.lifts" class="icon icon-left ion-ios7-snowy"></i>
          <i ng-show="area.meta && area.meta.areasOfInterest" class="ion-flag"></i>
          <div class="meta-lifts" ng-show="{{ area.meta && area.meta.lifts }}">
            <i class="icon icon-left ion-ios7-snowy"></i>
            <small>{{ area.meta.lifts.join(', ') }}</small>
          </div>
          <div class="meta-interests" ng-show="{{ area.meta && area.meta.areasOfInterest }}">
            <i class="ion-flag"></i>
            <small>{{ area.meta.areasOfInterest.join(', ') }}</small>
          </div>
        </div> 

      </div>
    </div>
  </ion-content>
</ion-view>
