<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>


    <!-- compiled css output -->
    <link href="css/ionic.app.css" rel="stylesheet">

    <link href="css/style.css" rel="stylesheet">

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="lib/ngCordova/dist/ng-cordova.js"></script>
    <script src="cordova.js"></script>

    <!-- Mock data -->
    <script src="js/mock-data.js"></script>

    <!-- 3rd party -->
    <script src="js/html5sql.js"></script>
    <script src="lib/angular-cookies/angular-cookies.js"></script>
    <script src="lib/angular-translate/angular-translate.js"></script>
    <script src="lib/angular-translate-storage-local/angular-translate-storage-local.js"></script>
    <script src="lib/angular-translate-storage-cookie/angular-translate-storage-cookie.js"></script>
    <script src="lib/geo-tree/lib/geo-tree-0.1.4.js"></script>
    <script src="lib/moment/moment.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/services/time.js"></script>
    <script src="js/services/database.js"></script>
    <script src="js/services/geotree.js"></script>
    <script src="js/services/model.js"></script>
    <script src="js/services/planner.js"></script>
    <script src="js/services/journeyInfo.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/controllers.js"></script>


  </head>
  <body ng-app="chamBus" ng-controller="MainCtrl as main">
    <ion-side-menus>


      <!-- Main view -->
      <ion-side-menu-content>

        <!-- Header -->
        <ion-nav-bar class="nav-title-slide-ios7 bar-positive">

          <!-- Back button -->
          <ion-nav-back-button class="button-icon ion-arrow-left-c">
          </ion-nav-back-button>

          <!-- Menu button -->
          <ion-nav-buttons side="right">
            <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
          </ion-nav-buttons>

          <!-- Reset button -->
          <!-- <ion-nav-buttons side="right">
            <button class="button icon ion-refresh" ng-click="main.reset()"></button>
          </ion-nav-buttons> -->
        </ion-nav-bar>

        <!-- Content -->
        <ion-nav-view animation="slide-left-right"></ion-nav-view>

      </ion-side-menu-content>




      <!-- Menu -->
      <ion-side-menu side="right">

        <!-- Menu - Title -->
        <div class="bar bar-header bar-dark">
          <h1 class="title">Menu</h1>
        </div>

        <!-- Menu - Content -->
        <div class="content has-header">
          <div class="list">

            <a menu-close class="item item-icon-right" ng-click="main.reset()">
              Plan a new journey
              <i class="icon ion-chevron-right"></i>
            </a>
            <a href="#/about" menu-close class="item item-icon-right">
              About
              <i class="icon ion-chevron-right"></i>
            </a>

          </div>
        </div>

        <!-- Menu - Footer -->
        <div class="bar bar-footer bar-stable menu-footer">
          <a href="http://chamgeeks.com">ChamGeeks</a> &nbsp; <span>v.{{ dbVersion }}</span>

          <div class="menu-flags">
            <img src="img/fr.svg" menu-close alt="Français" ng-click="selectStartLang('fr')">
            <img src="img/gb.svg" menu-close alt="English" ng-click="selectStartLang('en')">
            <img src="img/se.svg" menu-close alt="Swedish" ng-click="selectStartLang('sv')">
          </div>

        </div>

      </ion-side-menu>


    </ion-side-menus>
  </body>
</html>
