.scroll {
  background: #fff url(../img/bg-42.jpg) center;
  background-size: cover;
  padding-bottom: 2px;
  min-height: 100%; }

.card {
  background: none; }

.item {
  background: rgba(255, 255, 255, 0.8); }

h2 {
  color: #fff;
  text-shadow: 1px 1px 0 #222, 0 0 5px #777;
  margin: 0 0 20px;
  padding: 20px 0 0;
  text-align: center; }

h3 {
  margin: 0 0 10px; }

img {
  max-width: 100%;
  height: auto; }

.center {
  text-align: center; }

.flag {
  font-size: 30px;
  margin: 0 0 10px;
  color: #444; }
  .flag img {
    height: 50px;
    width: 75px;
    vertical-align: middle; }

.stop {
  position: relative;
  padding-left: 50px; }

.line {
  width: 5px;
  top: 0;
  bottom: 0;
  position: absolute; }

.line-1 {
  background: #EE3030;
  left: 5px; }

.line-2 {
  background: #00B2EF;
  left: 12px; }

.line-11 {
  background: #82C557;
  left: 19px; }

.line-12 {
  background: #B0773D;
  left: 26px; }

.line-box {
  margin: 0 -1px 2px;
  padding: 7px; }

.line-box-1 {
  border-color: #EE3030; }

.line-box-2 {
  border-color: #00B2EF; }

.line-box-3 {
  border-color: #F69130; }

.line-box-5 {
  border-color: #808A9D; }

.line-box-11 {
  border-color: #82C557; }

.line-box-12 {
  border-color: #B0773D; }

.line-box-13 {
  border-color: #B45A87; }

.line-box-14 {
  border-color: #F7A4A8; }

.line-box-15 {
  border-color: #15A057; }

.line-box-16 {
  border-color: #351C07; }

.line-box-17 {
  border-color: #FCF12C; }

.line-badge {
  font-weight: bold;
  position: absolute;
  top: 0;
  right: 2px; }

.line-box-1 .line-badge {
  color: #EE3030; }

.line-box-2 .line-badge {
  color: #00B2EF; }

.line-box-3 .line-badge {
  color: #F69130; }

.line-box-5 .line-badge {
  color: #808A9D; }

.line-box-11 .line-badge {
  color: #82C557; }

.line-box-12 .line-badge {
  color: #B0773D; }

.line-box-13 .line-badge {
  color: #B45A87; }

.line-box-14 .line-badge {
  color: #F7A4A8; }

.line-box-15 .line-badge {
  color: #15A057; }

.line-box-16 .line-badge {
  color: #351C07; }

.line-box-17 .line-badge {
  color: #FCF12C; }

.desc {
  margin: 0 0 20px;
  border: 1px solid #43cee6;
  padding: 5px;
  font-size: 12px;
  overflow: hidden; }

.desc button {
  float: right; }

.menu-footer {
  height: auto;
  text-align: center;
  display: block; }
  .menu-footer a {
    color: #444;
    text-decoration: none; }

.item-icon-right .icon {
  font-size: inherit;
  color: #aaa; }
